@font-face {
  font-family: "iconfont"; /* Project id 4645908 */
  src: url('iconfont.woff2?t=1726715149950') format('woff2'),
       url('iconfont.woff?t=1726715149950') format('woff'),
       url('iconfont.ttf?t=1726715149950') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-diqiu:before {
  content: "\e62e";
}

.icon-duidiezhuzhuangtu1:before {
  content: "\e604";
}

.icon-chartpie:before {
  content: "\e606";
}

.icon-tubiao-zhexiantu:before {
  content: "\eb96";
}

.icon-bokexinwen:before {
  content: "\e6fd";
}

.icon-Bootstrap:before {
  content: "\e6d4";
}

.icon-html:before {
  content: "\e633";
}

.icon-icon-15:before {
  content: "\e603";
}

.icon-folder_type_typescript_opened:before {
  content: "\e740";
}

.icon-github:before {
  content: "\e601";
}

.icon--startup:before {
  content: "\e623";
}

.icon-Vue:before {
  content: "\e799";
}

.icon-React:before {
  content: "\e79a";
}

.icon-jQuery:before {
  content: "\e79b";
}

.icon-css:before {
  content: "\e61e";
}

.icon-JavaScript:before {
  content: "\e611";
}

.icon-ECharts:before {
  content: "\e928";
}

.icon-histogram:before {
  content: "\e622";
}

.icon-zhuzhetu:before {
  content: "\e632";
}

.icon-yibiaopan:before {
  content: "\e669";
}

.icon-shijianzhou1:before {
  content: "\e600";
}

